.about-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 7em;
  .about-me {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4em;
    .about-txt {
      width: 50%;
      padding-left: 10em;
      p {
        text-align: justify;
        font-size: 22px;
        line-height: 1.8em;
      }
    }
    .about-img {
      width: 50%;
      padding-left: 2em;
      display: flex;
      flex-direction: column;
      gap: 1em;
      align-items: center;
      img {
        border-radius: 50%npm;
      }
      a {
        text-decoration: none;
        background-color: #6a8bb1;
        color: black;
        padding: 10px 20px;
        border-radius: 7px;
        cursor: pointer;
        padding: 14px 20px;
        border: 1px solid #081;
      }
    }
  }
}
