.social-media {
  .social-media__icons {
    width: 10em;
    // margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    a {
      text-decoration: none;
      color: #6a8bb1;
      font-size: 30px;
    }
    a:hover {
      text-decoration: none;
      color: #fff;
      font-size: 37px;
    }
  }
}
